@import url(../../font/font.css);
input[type="search"]{
    background: none;
    border: none;
}
ul{
    margin: 0;
    padding: 0;
}
/* Container */
.container-fluid {
    margin: 0 auto ;
    width: 960px;
	height:338px;
}


.btn-mini{
    font-family: 'Candarab';
    padding-top: 2px;
    text-align: center;
    font-size: 14px;
    color: #ff7200;
    border-radius: 5px ;
    
}
.span3:hover .hoverblock{
    visibility: visible;
}
.hoverblock{
    width: 214px;
    height: 339px;
    background-image: url(../../img/Слой-31.png);
    position: relative;
    clear: both;
    top: -167px;
    left: -25px;
    visibility: hidden;
}
.adssadsad{
}
/* Page Header */
.span3{
	border-style: solid;
    border-width: 1px;
    width: 299px;
	height:339px;
}
.hit{
    position: absolute;
}
.bistrii_prosmotr{
    width: 131px;
    height: 41px;
    background-color: rgba(255,255,255,0.85);
    padding:  12px 20px 12px 20px;
    font-family: 'Candarab';
    font-size: 12px;
    text-align: center;
    margin-left: 30px;
    top: 80px;
    border-radius:5px;
    position: relative;
    color: #000;
}

/* Thumbnail Box */
.caption{
    margin-top: 50px;
}
    .captionP1{
    font-family: 'Candara';
    font-size: 14px;
    color: #000;
    width: 141px;
    margin-left: 20px;
         }

.captionP2{
    text-align: center;
    margin-top: 23px;
    color: #009650;
    font-size: 18px;
    font-family: 'Candarab';
}       
        .btn.btn-mini {
            font-size: 0.63rem;
            }
   
.thumbnail a img{
    margin-top: 40px;
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 14px 10px 0px;
        width:35px;
        height:50px;
        }


/* Footer */
.footer {
    margin: auto;
    width: 100%;
    max-width: 960px;
    display: block;
    font-size: 0.69rem;
    }
    .footer, .footer a {
        color: #c9e4f7;
        }
        p.right  { 
            float: right; 
            }

carousel-inner>.item {
    /* position: relative; */
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -moz-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}


